.idea
typings/**
node_modules
dist/**
jspm_packages
link-checker-results.txt
**/*npm-debug.log.*
*.js
*.map

!karma*.js
!protractor*.js
!src/systemjs.config.js
!wallaby.js
!angular-cli-build.js
!bs-config.js
!gulpfile.js
